.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 233, 233);
  gap: 50px;
}

.text-init-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.title-init-information {
  font-family: 'Montserrat', sans-serif;
}

.text-title-init-information {
  line-height: 1.8;
  font-family: 'Roboto', sans-serif;
}

.projects-row1 {
  position: relative;
  width: 400px;
  margin-right: 17%;
  height: auto;
  margin-top: 2%;
}

.projects-row2 {
  position: relative;
  width: 400px;
  margin-right: 17%;
  height: auto;
  margin-top: 5%;

}


.projects-row3 {
  position: relative;
  width: 400px;
  margin-right: 17%;
  height: auto;
  margin-top: 5%;

}

.projects-row4 {
  position: relative;
  width: 400px;
  margin-right: 17%;
  height: auto;
  margin-top: 5%;

}

.projects-row5 {
  position: relative;
  width: 400px;
  margin-right: 17%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}


.imagen-tv {
  width: 700px;
  display: block;
}

.imagen-overlay {
  position: absolute;
  top: 2.8%;
  left: 3%;
  width: 168%;
  height: 72%;
  border-radius: 8px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.imagen-overlay:hover {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 175%;
  height: 77%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  gap: 30px;
}

.description-overlay {
  font-family: 'Roboto', sans-serif;
}

.projects-row1:hover .overlay {
  opacity: 1;
}

.projects-row2:hover .overlay {
  opacity: 1;
}

.projects-row3:hover .overlay {
  opacity: 1;
}


.projects-row4:hover .overlay {
  opacity: 1;
}

.projects-row5:hover .overlay {
  opacity: 1;
}


.overlay p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.overlay button {
  background: #00bfa5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
  font-family: 'Roboto', sans-serif;

}

.overlay button:hover {
  background: #009e8f;
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.8;
}


.imagen-simon {
  position: absolute;
  top: 5.5%;
  left: 13%;
  width: 75%;
  height: 84%;
  border-radius: 8px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.6s ease;
  mix-blend-mode: normal;
}